In [159]:
# Import raw New York Crime Data from since 2006. Here we have more than 6 million rows
import pandas as pd
import numpy as np
df = pd.read_csv('./NYPD_Complaint_Data_Historic.csv')
df.head()

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,731272886,08/02/2007,14:15:00,08/02/2007,14:45:00,103.0,08/02/2007,341,PETIT LARCENY,338.0,...,NaN,NaN,40.706600,-73.795607,"(40.706599944, -73.795606957)",PATROL BORO QUEENS SOUTH,NaN,18-24,BLACK,F
1,685977800,08/02/2007,14:15:00,08/02/2007,14:30:00,120.0,08/02/2007,341,PETIT LARCENY,333.0,...,M,NaN,40.616430,-74.074201,"(40.616429507, -74.074201364)",PATROL BORO STATEN ISLAND,NaN,NaN,UNKNOWN,D
2,625034200,08/02/2007,14:15:00,08/02/2007,14:30:00,43.0,08/02/2007,233,SEX CRIMES,175.0,...,NaN,NaN,40.823101,-73.869690,"(40.823101299, -73.869690461)",PATROL BORO BRONX,NaN,<18,BLACK,M
3,763554966,08/02/2007,14:15:00,NaN,NaN,40.0,08/02/2007,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,M,NaN,40.822392,-73.919888,"(40.8223923, -73.919888489)",PATROL BORO BRONX,NaN,25-44,BLACK,F
4,312160595,08/02/2007,14:10:00,08/02/2007,14:40:00,19.0,08/02/2007,344,ASSAULT 3 & RELATED OFFENSES,101.0,...,NaN,4.0,40.767869,-73.964077,"(40.767868519, -73.964077066)",PATROL BORO MAN NORTH,68 ST.-HUNTER COLLEGE,25-44,WHITE,M

In [160]:
# Show all columns from raw data
print(df.columns.tolist())

['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT', 'CMPLNT_TO_TM', 'ADDR_PCT_CD', 'RPT_DT', 'KY_CD', 'OFNS_DESC', 'PD_CD', 'PD_DESC', 'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'BORO_NM', 'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'JURIS_DESC', 'JURISDICTION_CODE', 'PARKS_NM', 'HADEVELOPT', 'HOUSING_PSA', 'X_COORD_CD', 'Y_COORD_CD', 'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'TRANSIT_DISTRICT', 'Latitude', 'Longitude', 'Lat_Lon', 'PATROL_BORO', 'STATION_NAME', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX']

In [161]:
# Drop un-used columns from raw data
to_drop = ['CMPLNT_FR_DT','CMPLNT_FR_TM','CMPLNT_TO_DT','CMPLNT_TO_TM','CRM_ATPT_CPTD_CD','LOC_OF_OCCUR_DESC',\
           'JURIS_DESC','JURISDICTION_CODE','PARKS_NM','HADEVELOPT','HOUSING_PSA','SUSP_AGE_GROUP','SUSP_RACE',\
           'SUSP_SEX','TRANSIT_DISTRICT','PATROL_BORO','STATION_NAME','VIC_AGE_GROUP','VIC_RACE','VIC_SEX',\
           'X_COORD_CD','Y_COORD_CD','Lat_Lon','PREM_TYP_DESC','PD_CD','PD_DESC']
df.drop(columns=to_drop, inplace=True)

In [162]:
# Peek data again
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,LAW_CAT_CD,BORO_NM,Latitude,Longitude
0,731272886,103.0,08/02/2007,341,PETIT LARCENY,MISDEMEANOR,QUEENS,40.706600,-73.795607
1,685977800,120.0,08/02/2007,341,PETIT LARCENY,MISDEMEANOR,STATEN ISLAND,40.616430,-74.074201
2,625034200,43.0,08/02/2007,233,SEX CRIMES,MISDEMEANOR,BRONX,40.823101,-73.869690
3,763554966,40.0,08/02/2007,361,OFF. AGNST PUB ORD SENSBLTY &,MISDEMEANOR,BRONX,40.822392,-73.919888
4,312160595,19.0,08/02/2007,344,ASSAULT 3 & RELATED OFFENSES,MISDEMEANOR,MANHATTAN,40.767869,-73.964077

In [163]:
# Remove empty rows for columns: ADDR_PCT_CD, RPT_DT, LAW_CAT_CD, Latitude, Longitude
df = df[pd.notnull(df['ADDR_PCT_CD'])]
df = df[pd.notnull(df['RPT_DT'])]
df = df[pd.notnull(df['LAW_CAT_CD'])]
df = df[pd.notnull(df['Latitude'])]
df = df[pd.notnull(df['Longitude'])]

In [164]:
# Convert police precinct to integer
df = df.astype({"ADDR_PCT_CD": int})

In [165]:
# Peek data again
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,LAW_CAT_CD,BORO_NM,Latitude,Longitude
0,731272886,103,08/02/2007,341,PETIT LARCENY,MISDEMEANOR,QUEENS,40.706600,-73.795607
1,685977800,120,08/02/2007,341,PETIT LARCENY,MISDEMEANOR,STATEN ISLAND,40.616430,-74.074201
2,625034200,43,08/02/2007,233,SEX CRIMES,MISDEMEANOR,BRONX,40.823101,-73.869690
3,763554966,40,08/02/2007,361,OFF. AGNST PUB ORD SENSBLTY &,MISDEMEANOR,BRONX,40.822392,-73.919888
4,312160595,19,08/02/2007,344,ASSAULT 3 & RELATED OFFENSES,MISDEMEANOR,MANHATTAN,40.767869,-73.964077

In [166]:
# Unique Borough in New York
print(df.BORO_NM.unique())
# Crime severity 
print(df.LAW_CAT_CD.unique())

['QUEENS' 'STATEN ISLAND' 'BRONX' 'MANHATTAN' 'BROOKLYN' nan]
['MISDEMEANOR' 'VIOLATION' 'FELONY']

In [167]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="DVA_Project")
location = geolocator.reverse("40.706599944, -73.795606957")
print(location.raw['address']['neighbourhood'])

Hillside

In [168]:
# MapBox API to do reverse geocoder for New York Neighborhoods
#curl "https://api.mapbox.com/geocoding/v5/mapbox.places/-73.795606957,40.706599944.json?types=neighborhood&access_token=pk.eyJ1Ijoic2NoZW43MjYiLCJhIjoiY2p0b3J0d2M4MDI4aDQ0cGJmdGJxbmtjMSJ9.pwQNTpi-kzRBS_Xvi-O8pA"
#{"type":"FeatureCollection","query":[-73.795606957,40.706599944],"features":[{"id":"neighborhood.298257","type":"Feature","place_type":["neighborhood"],"relevance":1,"properties":{},"text":"Jamaica","place_name":"Jamaica, Queens, New York, New York 11432, United States","bbox":[-73.817269,40.671763,-73.770156,40.715179],"center":[-73.8057,40.6915],"geometry":{"type":"Point","coordinates":[-73.8057,40.6915]},"context":[{"id":"locality.6306827455006740","wikidata":"Q18424","text":"Queens"},{"id":"postcode.10281308891843690","text":"11432"},{"id":"place.15278078705964500","wikidata":"Q60","text":"New York"},{"id":"region.14044236392855570","short_code":"US-NY","wikidata":"Q1384","text":"New York"},{"id":"country.9053006287256050","short_code":"us","wikidata":"Q30","text":"United States"}]}],"attribution":"NOTICE: Â© 2019 Mapbox and its suppliers. All rights reserved. Use of this data is subject to the Mapbox Terms of Service (https://www.mapbox.com/about/maps/). This response and the information it contains may not be retained. POI(s) provided by Foursquare."}%

In [169]:
import reverse_geocoder as rg
coordinates = (40.706599944, -73.795606957)
results = rg.search(coordinates) # default mode = 2
print(results[0]['name'])

Jamaica

In [170]:
#for index, row in df[:5].iterrows():
#    latitude = row['Latitude']
#    longitude = row['Longitude']
#    coordinates = (latitude,longitude)
#    print(coordinates)
#    results = rg.search(coordinates)
#    print(results[0]['name'])

In [171]:
# Convert Laititude and Longititude from data to New York Neighborhood names
#df['Neighborhood'] = ""
for index, row in df[:5].iterrows():   
#    print(index)
    latitude = row['Latitude']
    longitude = row['Longitude']
    coordinates = str(latitude) + ", " + str(longitude)
    location = geolocator.reverse(coordinates)
    if 'neighbourhood' in location.raw['address']:
        print(location.raw['address']['neighbourhood'])
#        df.at[index,'Neighborhood'] = location.raw['address']['neighbourhood']

Hillside
Clifton
Melrose
Lenox Hill

In [172]:
# Unique policy precinct
print(len(df.ADDR_PCT_CD.unique()))
pct_list = df.ADDR_PCT_CD.unique()
pct_list.sort()

77

In [173]:
df_nh = pd.read_csv('./NHoodNameCentroids.csv')
neighborhoods = {}
for index, row in df_nh.iterrows():   
    name = row['Name']
    neighborhoods_id = row['OBJECTID']
    coordinates = row['the_geom'].split(" ")
    latitude = coordinates[2].replace(')','')
    longitude = coordinates[1].replace('(','')
    neighborhoods[name] = [float(latitude), float(longitude),neighborhoods_id]
    #print(latitude + "," + longitude)
#df_nh.head()
print(neighborhoods)

{'Wakefield': [40.89470517661004, -73.8472005205491, 1], 'Co-op City': [40.87429419303015, -73.82993910812405, 2], 'Eastchester': [40.88755567735082, -73.82780644716419, 3], 'Fieldston': [40.895437426903875, -73.90564259591689, 4], 'Riverdale': [40.89083449389134, -73.91258546108577, 5], 'Kingsbridge': [40.88168737120525, -73.90281798724611, 6], 'Marble Hill': [40.87655077879968, -73.91065965862988, 7], 'Woodlawn': [40.898272612138086, -73.86731496814183, 8], 'Norwood': [40.877224155994504, -73.87939073956817, 9], 'Williamsbridge': [40.88103887819214, -73.85744642974214, 10], 'Baychester': [40.86685810725274, -73.83579759808124, 11], 'Pelham Parkway': [40.85741349808869, -73.85475564018006, 12], 'City Island': [40.84724670491817, -73.7864884526742, 13], 'Bedford Park': [40.87018516497537, -73.88551218419137, 14], 'University Heights': [40.85572707719668, -73.91041596191317, 15], 'Morris Heights': [40.84789792606274, -73.91967159119572, 16], 'Fordham': [40.86099679638657, -73.8964265598163, 17], 'East Tremont': [40.84269615786057, -73.88735617532345, 18], 'West Farms': [40.83947505672657, -73.87774474910552, 19], 'High  Bridge': [40.8366230107061, -73.92610209358138, 20], 'Melrose': [40.81975437059498, -73.90942160757443, 21], 'Mott Haven': [40.80623874935181, -73.91609987487583, 22], 'Port Morris': [40.80166362775625, -73.91322139386142, 23], 'Longwood': [40.815099045458254, -73.89578820094466, 24], 'Hunts Point': [40.809729879387135, -73.88331505955298, 25], 'Morrisania': [40.82359198585537, -73.90150648943066, 26], 'Soundview': [40.82101219791406, -73.86574609554933, 27], 'Clason Point': [40.806551120035934, -73.85414416189273, 28], 'Throgs Neck': [40.815109258040096, -73.8163500215845, 29], 'Country Club': [40.84424593694742, -73.82409926753857, 30], 'Parkchester': [40.83793782226733, -73.8560031053579, 31], 'Westchester Square': [40.840619496432744, -73.8421940760445, 32], 'Van Nest': [40.84360847124722, -73.86629918075617, 33], 'Morris Park': [40.84754906353638, -73.85040178030428, 34], 'Belmont': [40.85727710073898, -73.88845196134812, 35], 'Spuyten Duyvil': [40.8813949772709, -73.917190482104, 36], 'North Riverdale': [40.9085428295067, -73.90453054908934, 37], 'Pelham Bay': [40.85064140940339, -73.83207378240478, 38], 'Schuylerville': [40.82657951686926, -73.82620275994081, 39], 'Edgewater Park': [40.82198611816354, -73.81388514428627, 40], 'Castle Hill': [40.81901437698835, -73.84802729582742, 41], 'Olinville': [40.87137078192375, -73.86332361652784, 42], 'Pelham Gardens': [40.862965624780024, -73.8416119483123, 43], 'Concourse': [40.834283807338544, -73.91558941773451, 44], 'Unionport': [40.82977429787165, -73.85053524451942, 45], 'Edenwald': [40.88456130303736, -73.84808271877175, 46], 'Bay Ridge': [40.62580106501069, -74.03062069353821, 47], 'Bensonhurst': [40.61100890202048, -73.99517998380736, 48], 'Sunset Park': [40.64510294925433, -74.01031618527792, 49], 'Greenpoint': [40.730200984864744, -73.954240931274, 50], 'Gravesend': [40.59526001306597, -73.97347087708452, 51], 'Brighton Beach': [40.576825065666085, -73.96509448785343, 52], 'Sheepshead Bay': [40.58689012678388, -73.94318640482987, 53], 'Manhattan Terrace': [40.61443251335102, -73.95743840559946, 54], 'Flatbush': [40.63632589026681, -73.95840106533912, 55], 'Crown Heights': [40.67082917695298, -73.9432911907359, 56], 'East Flatbush': [40.64171776668965, -73.93610256185843, 57], 'Kensington': [40.64238195800357, -73.98042110559481, 58], 'Windsor Terrace': [40.65694583575108, -73.98007340430179, 59], 'Prospect Heights': [40.67682226225477, -73.96485924262697, 60], 'Brownsville': [40.66394994339758, -73.91023536176615, 61], 'Williamsburg': [40.70714439344255, -73.95811529220936, 62], 'Bushwick': [40.69811611017905, -73.92525797487053, 63], 'Bedford Stuyvesant': [40.6872316077205, -73.94178488690304, 64], 'Brooklyn Heights': [40.69586372272413, -73.99378225496432, 65], 'Cobble Hill': [40.68791972248561, -73.9985613921847, 66], 'Carroll Gardens': [40.68213188564184, -74.00037274122076, 67], 'Red Hook': [40.67625323025092, -74.01275897473568, 68], 'Gowanus': [40.6739311431872, -73.99444087145346, 69], 'Fort Greene': [40.688527260189815, -73.97290574369099, 70], 'Park Slope': [40.672320522682014, -73.97705030183931, 71], 'Cypress Hills': [40.6846357939163, -73.87583132262635, 72], 'East New York': [40.66992570084708, -73.88069863917373, 73], 'Starrett City': [40.64758905230878, -73.87936970045882, 74], 'Canarsie': [40.63556432797432, -73.90209269778973, 75], 'Flatlands': [40.6304460437575, -73.92911302644681, 76], 'Mill Island': [40.60633642168567, -73.90818571777432, 77], 'Manhattan Beach': [40.57791350308661, -73.94353722891894, 78], 'Coney Island': [40.57429256471605, -73.98868295821644, 79], 'Bath Beach': [40.599518702822415, -73.99875221443526, 80], 'Borough Park': [40.63313051275805, -73.99049823044818, 81], 'Dyker Heights': [40.61921945772268, -74.01931375636029, 82], 'Gerritsen Beach': [40.59084843390208, -73.93010170691203, 83], 'Marine Park': [40.60974777989464, -73.93134404108504, 84], 'Clinton Hill': [40.69322942188155, -73.96784306216374, 85], 'Sea Gate': [40.576375378902284, -74.00787311200247, 86], 'Downtown': [40.69084402109806, -73.98346337431106, 87], 'Boerum Hill': [40.687241380657376, -73.98357724689187, 88], 'Prospect Lefferts Gardens': [40.65842001746986, -73.9548986707772, 89], 'Ocean Hill': [40.6784025547954, -73.91306831787404, 90], 'City Line': [40.678569957274824, -73.86797598081343, 91], 'Bergen Beach': [40.615149550453125, -73.89855633630324, 92], 'Midwood': [40.62559589869847, -73.95759523489846, 93], 'Prospect Park South': [40.64700860318523, -73.96261316716055, 94], 'Georgetown': [40.623845244784235, -73.91607483951331, 95], 'Spring Creek': [40.65713927658277, -73.86998779106547, 96], 'East Williamsburg': [40.70849241041552, -73.93885815269203, 97], 'North Side': [40.714822906532056, -73.95880857587589, 98], 'South Side': [40.710861472650684, -73.95800095153338, 99], 'Navy Yard': [40.698790872180545, -73.97164435527614, 100], 'Ocean Parkway': [40.61305976667946, -73.96836678035548, 101], 'Fort Hamilton': [40.6147681269423, -74.0319791453799, 102], 'Chinatown': [40.715618422314364, -73.99427936255985, 103], 'Washington Heights': [40.85190252555309, -73.93690027985242, 104], 'Inwood': [40.86768396449919, -73.92121042203905, 105], 'Hamilton Heights': [40.82360428481197, -73.94968791883373, 106], 'Manhattanville': [40.81693442949784, -73.95738539351888, 107], 'Central Harlem': [40.81597606742418, -73.94321112603912, 108], 'East Harlem': [40.79224946663037, -73.94418223148531, 109], 'Upper East Side': [40.77563857330185, -73.96050763135007, 110], 'Yorkville': [40.77592984988492, -73.94711784471833, 111], 'Lenox Hill': [40.76811265828737, -73.95885968813766, 112], 'Roosevelt Island': [40.762403730702246, -73.9494705736962, 113], 'Upper West Side': [40.7876579985349, -73.9770592363061, 114], 'Lincoln Square': [40.773528889421705, -73.9853377700127, 115], 'Clinton': [40.758333686906404, -73.99640768221386, 116], 'Midtown': [40.75469110270627, -73.98166882730311, 117], 'Murray Hill': [40.7641261226141, -73.81276269135873, 183], 'Chelsea': [40.59472602746298, -74.18956045519697, 247], 'Greenwich Village': [40.72693288536132, -73.99991402945909, 120], 'East Village': [40.72784677727029, -73.98222616506425, 121], 'Lower East Side': [40.71780674892769, -73.98089031999298, 122], 'Tribeca': [40.72152196744325, -74.01068328559094, 123], 'Little Italy': [40.71932379395911, -73.9973046720808, 124], 'Soho': [40.72218384131798, -74.00065666959766, 125], 'West Village': [40.734433935724375, -74.00617998126819, 126], 'Manhattan Valley': [40.7973070417029, -73.96428617740662, 127], 'Morningside Heights': [40.80799973816586, -73.96389627905339, 128], 'Gramercy': [40.737209832715045, -73.98137594833548, 129], 'Battery Park City': [40.71193198394569, -74.01686930508625, 130], 'Financial District': [40.70710710727052, -74.01066544521277, 131], 'Astoria': [40.768508593354966, -73.91565374304241, 132], 'Woodside': [40.746349088602265, -73.90184166838291, 133], 'Jackson Heights': [40.751981380073715, -73.88282109164372, 134], 'Elmhurst': [40.744048505122066, -73.88165622288396, 135], 'Howard Beach': [40.6542252773849, -73.83813764600289, 136], 'South Corona': [40.7423817501567, -73.85682497345266, 137], 'Forest Hills': [40.725263782165065, -73.8444750078899, 138], 'Kew Gardens': [40.705179035414844, -73.8298190582571, 139], 'Richmond Hill': [40.69794731471767, -73.83183321446894, 140], 'Downtown Flushing': [40.76116362081876, -73.82936758711861, 141], 'Long Island City': [40.75021734610532, -73.93920223915512, 142], 'Sunnyside': [40.612760157564935, -74.09712552178537, 223], 'East Elmhurst': [40.764073238830946, -73.86704147658779, 144], 'Maspeth': [40.72542737409365, -73.89621713626867, 145], 'Ridgewood': [40.70832315613862, -73.90143517559596, 146], 'Glendale': [40.702762429678415, -73.87074167435614, 147], 'Rego Park': [40.72897409480739, -73.85782686905377, 148], 'Woodhaven': [40.689886879157925, -73.85811046554328, 149], 'Ozone Park': [40.68070846826546, -73.84320266173454, 150], 'South Ozone Park': [40.66854957767199, -73.80986478649048, 151], 'College Point': [40.78490274926025, -73.84304528896132, 152], 'Whitestone': [40.781290766026984, -73.8142021661087, 153], 'Bayside': [40.76604063281068, -73.77427363068676, 154], 'Auburndale': [40.761729549032665, -73.79176243728068, 155], 'Little Neck': [40.77082619282674, -73.73889775580747, 156], 'Douglaston': [40.766846097907674, -73.74249820727337, 157], 'Glen Oaks': [40.74944079974336, -73.71548118999152, 158], 'Bellerose': [40.72857318176679, -73.7201281482691, 159], 'Kew Gardens Hills': [40.72257824422808, -73.82087764933573, 160], 'Fresh Meadows': [40.734394465331334, -73.78271337003271, 161], 'Briarwood': [40.710935472522756, -73.81174822458641, 162], 'Jamaica Center': [40.704657360687214, -73.79690165888296, 163], 'Oakland Gardens': [40.74561857141858, -73.75494976234339, 164], 'Queens Village': [40.7188930921674, -73.73871484578433, 165], 'Hollis': [40.71124344191908, -73.75925009335602, 166], 'South Jamaica': [40.69691125378992, -73.79042613135549, 167], 'St. Albans': [40.69444538522363, -73.75867603727725, 168], 'Rochdale': [40.675211395917366, -73.77258787620913, 169], 'Springfield Gardens': [40.666230490368626, -73.76042092682295, 170], 'Cambria Heights': [40.69277463916089, -73.73526873708033, 171], 'Rosedale': [40.65981643342812, -73.73526079428285, 172], 'Far Rockaway': [40.60313443250093, -73.7549796804388, 173], 'Broad Channel': [40.603026583512424, -73.82005489110327, 174], 'Breezy Point': [40.557401288454564, -73.92551196994177, 175], 'Steinway': [40.77592301564293, -73.90228960391681, 176], 'Beechhurst': [40.792781403600515, -73.80436451720996, 177], 'Bay Terrace': [40.55398800858466, -74.13916622175775, 238], 'Edgemere': [40.59564180736854, -73.77613282391712, 179], 'Arverne': [40.58914394372975, -73.7919923313695, 180], 'Seaside': [40.58280169684563, -73.82236121088758, 181], 'Neponsit': [40.57203673021705, -73.85754672410836, 182], 'Floral Park': [40.74137842194548, -73.70884705889253, 184], 'Holliswood': [40.720957207644446, -73.76714166714736, 185], 'Jamaica Estates': [40.716804830146174, -73.78722696936667, 186], 'Queensboro Hill': [40.744572309286745, -73.82580915110566, 187], 'Hillcrest': [40.72382490182924, -73.79760300912679, 188], 'Ravenswood': [40.76170452605419, -73.93157506072886, 189], 'Lindenwood': [40.66391841925143, -73.84963782402448, 190], 'Laurelton': [40.667883896602504, -73.74025607989829, 191], 'Lefrak City': [40.73607457083084, -73.86252471413746, 192], 'Belle Harbor': [40.57615556543113, -73.85401750392529, 193], 'Rockaway Park': [40.58034295646135, -73.84153370226193, 194], 'Somerville': [40.59771061565772, -73.79664750844056, 195], 'Brookville': [40.66000322733616, -73.7517531073116, 196], 'Bellaire': [40.73301404027838, -73.73889198912488, 197], 'North Corona': [40.75407099904894, -73.85751790676454, 198], 'Forest Hills Gardens': [40.71461108151174, -73.84102211234017, 199], 'St. George': [40.64498157100444, -74.07935312512804, 200], 'New Brighton': [40.64061455913515, -74.08701650516633, 201], 'Stapleton': [40.6269276253818, -74.07790192660073, 202], 'Rosebank': [40.61530494652765, -74.06980526716148, 203], 'West Brighton': [40.63187892654611, -74.10718178265617, 204], 'Grymes Hill': [40.62418479131304, -74.08724819983736, 205], 'Todt Hill': [40.59706851814676, -74.11132881800887, 206], 'South Beach': [40.5802474135096, -74.07955292539827, 207], 'Port Richmond': [40.63366930554369, -74.12943426797015, 208], "Mariner's Harbor": [40.63254639048117, -74.15008537046988, 209], 'Port Ivory': [40.63968297845546, -74.17464532993549, 210], 'Castleton Corners': [40.613335937667465, -74.1191805853485, 211], 'New Springville': [40.59425237916174, -74.16496031329834, 212], 'Travis': [40.58631375103285, -74.19073717538123, 213], 'New Dorp': [40.57257231820636, -74.11647943606387, 214], 'Oakwood': [40.558462243288844, -74.12156593771904, 215], 'Great Kills': [40.54948022871365, -74.14932381490999, 216], 'Eltingville': [40.54223074745079, -74.16433080419367, 217], 'Annadale': [40.538114174745104, -74.17854866165885, 218], 'Woodrow': [40.53745265012707, -74.22135055371616, 219], 'Tottenville': [40.505333761156464, -74.24656934235291, 220], 'Tompkinsville': [40.63731606711036, -74.08055351790122, 221], 'Silver Lake': [40.619193107926804, -74.09629029235465, 222], 'Ditmas Park': [40.64367518334101, -73.96101312466787, 224], 'Wingate': [40.660946561881154, -73.93718680559321, 225], 'Rugby': [40.65557231328081, -73.92688212616963, 226], 'Park Hill': [40.60919044434562, -74.08015734936303, 227], 'Westerleigh': [40.62109047275413, -74.13304143951713, 228], 'Graniteville': [40.62017151223193, -74.1531524638777, 229], 'Arlington': [40.63532509911496, -74.16510420241131, 230], 'Arrochar': [40.596312571276776, -74.06712363225581, 231], 'Grasmere': [40.59826835959995, -74.07667436279057, 232], 'Old Town': [40.596328913795176, -74.08751118005587, 233], 'Dongan Hills': [40.58867294819932, -74.09639905312528, 234], 'Midland Beach': [40.573526905742874, -74.09348266303599, 235], 'Grant City': [40.57621558711792, -74.10585598545441, 236], 'New Dorp Beach': [40.56425549307338, -74.10432707469131, 237], 'Huguenot': [40.53191192048964, -74.19174105747821, 239], 'Pleasant Plains': [40.52469937611818, -74.21983106616784, 240], 'Butler Manor': [40.506081653463085, -74.22950350260034, 241], 'Charleston': [40.530531482833176, -74.23215775896533, 242], 'Rossville': [40.549404006500765, -74.21572851113959, 243], 'Arden Heights': [40.549285822783254, -74.185886745839, 244], 'Greenridge': [40.559712496342954, -74.19150620964295, 245], 'Heartland Village': [40.589138948752854, -74.15902208156608, 246], 'Bloomfield': [40.60577868452362, -74.18725638381574, 248], 'Bulls Head': [40.60959180042034, -74.15940948657129, 249], 'Carnegie Hill': [40.78268256712574, -73.95325646837121, 250], 'Noho': [40.72325901885772, -73.98843368023604, 251], 'Civic Center': [40.715228920462856, -74.00541529873362, 252], 'Midtown South': [40.748509664312245, -73.98871313285254, 253], 'Richmond Town': [40.56960594275509, -74.13405729862578, 254], 'Shore Acres': [40.609719340792886, -74.06667766061778, 255], 'Clifton': [40.61917845202847, -74.07264244548406, 256], 'Concord': [40.604473189687944, -74.08402364740365, 257], 'Emerson Hill': [40.606794394801035, -74.09776206972529, 258], 'Randall Manor': [40.63563000681155, -74.09805062373894, 259], 'Howland Hook': [40.638432837947995, -74.1862233174983, 260], 'Elm Park': [40.63014674119387, -74.14181678968897, 261], 'Remsen Village': [40.65211745179353, -73.91665331978055, 262], 'New Lots': [40.66274427969663, -73.885117763793, 263], 'Paerdegat Basin': [40.63131755039671, -73.90233474295843, 264], 'Mill Basin': [40.615974239623405, -73.9151539155041, 265], 'Jamaica Hills': [40.71145964370486, -73.796464620816, 266], 'Utopia': [40.7335002542976, -73.79671678028357, 267], 'Pomonok': [40.73493618075482, -73.80486120040544, 268], 'Astoria Heights': [40.770317392998244, -73.89467996270581, 269], 'Claremont Village': [40.83142834161551, -73.90119903387674, 270], 'Concourse Village': [40.82478049084294, -73.91584652759016, 271], 'Mount Eden': [40.843826176716576, -73.91655551964426, 272], 'Mount Hope': [40.84884160724669, -73.90829930881995, 273], 'Sutton Place': [40.76028033131378, -73.9635561409431, 274], 'Hunters Point': [40.74341409007358, -73.95386782130753, 275], 'Turtle Bay': [40.75204236950726, -73.96770824581843, 276], 'Tudor City': [40.74691741074023, -73.97121928722272, 277], 'Stuyvesant Town': [40.73099955477065, -73.9740517046921, 278], 'Flatiron': [40.73967304763847, -73.99094710528267, 279], 'Sunnyside Gardens': [40.745651806080794, -73.9181928643169, 280], 'Blissville': [40.73725071694501, -73.93244235260185, 281], 'Fulton Ferry': [40.70328109093018, -73.99550751888422, 282], 'Vinegar Hill': [40.703321498828785, -73.981116035924, 283], 'Weeksville': [40.67503986503241, -73.93053108817347, 284], 'Broadway Junction': [40.67786104769535, -73.90331684852606, 285], 'Dumbo': [40.70317632822696, -73.98875280745047, 286], 'Manor Heights': [40.60180957631448, -74.12059399718008, 287], 'Willowbrook': [40.60370692627375, -74.13208447484305, 288], 'Sandy Ground': [40.5411399220918, -74.21776636068574, 289], 'Egbertville': [40.579118742961256, -74.12727240604953, 290], 'Roxbury': [40.567375889570364, -73.89213760232829, 291], 'Homecrest': [40.59852509513729, -73.9591845942871, 292], 'Middle Village': [40.71641451115823, -73.8811431920061, 293], "Prince's Bay": [40.526264067348166, -74.20152556457666, 294], 'Lighthouse Hill': [40.576506293794935, -74.13792663771576, 295], 'Richmond Valley': [40.519541457489126, -74.22957080626948, 296], 'Malba': [40.790601556701525, -73.8266775713865, 297], 'Highland Park': [40.68248551101694, -73.8902809854761, 298], 'Madison': [40.609377701137696, -73.948415153289, 299]}

In [174]:
#export_csv = df.to_csv('./export_crime.csv', index = None, header=True)
#df.shape
#pct_dict = {1:[],5,6,7,9,10,13,14,17,18,19,20,22,23,24,25,26,28,30,32,33,34,40,41,42,43,44,45,46,47,48,49,50,52,60,61,62, \
#            63,66,67,68,69,70,71,72,73,75,76,77,78,79,81,83,84,88,90,94,100,101,102,103,104,105,106,107,108,109,110, \
#            111,112,113,114,115,120,121,122,123}
from math import radians, cos, sin, asin, sqrt
import numpy as np
def haversine(lat1, lon1, lat2, lon2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])
    # haversine formula 
    dlat = lat2 - lat1 
    dlon = lon2 - lon1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km

In [175]:
df.shape

(6018177, 9)

In [176]:
df['Neighborhood'] = ""
df['Neighborhood_ID'] = np.nan
for index, row in df.iterrows():   
    distance = {}
    latitude = row['Latitude']
    longitude = row['Longitude']
    for key, value in neighborhoods.items():
        result = haversine(latitude,longitude,value[0],value[1])
        distance[key] = result
    nearest_neighborhood = min(distance, key=distance.get)
    df.at[index,'Neighborhood'] = nearest_neighborhood
    df.at[index,'Neighborhood_ID'] = neighborhoods[nearest_neighborhood][2]
    
# Convert neighborhood id to integer
df = df.astype({"Neighborhood_ID": int})

In [177]:
df.shape

(6018177, 11)

In [178]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,LAW_CAT_CD,BORO_NM,Latitude,Longitude,Neighborhood,Neighborhood_ID
0,731272886,103,08/02/2007,341,PETIT LARCENY,MISDEMEANOR,QUEENS,40.706600,-73.795607,Jamaica Center,163
1,685977800,120,08/02/2007,341,PETIT LARCENY,MISDEMEANOR,STATEN ISLAND,40.616430,-74.074201,Clifton,256
2,625034200,43,08/02/2007,233,SEX CRIMES,MISDEMEANOR,BRONX,40.823101,-73.869690,Soundview,27
3,763554966,40,08/02/2007,361,OFF. AGNST PUB ORD SENSBLTY &,MISDEMEANOR,BRONX,40.822392,-73.919888,Concourse Village,271
4,312160595,19,08/02/2007,344,ASSAULT 3 & RELATED OFFENSES,MISDEMEANOR,MANHATTAN,40.767869,-73.964077,Lenox Hill,112

In [179]:
df.tail()

,CMPLNT_NUM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,LAW_CAT_CD,BORO_NM,Latitude,Longitude,Neighborhood,Neighborhood_ID
6036800,937371831,70,08/02/2007,235,DANGEROUS DRUGS,MISDEMEANOR,BROOKLYN,40.644377,-73.958868,Ditmas Park,224
6036801,784786011,77,08/02/2007,340,FRAUDS,MISDEMEANOR,BROOKLYN,40.671782,-73.936407,Crown Heights,56
6036802,415679784,46,08/02/2007,352,CRIMINAL TRESPASS,MISDEMEANOR,BRONX,40.857082,-73.901353,Fordham,17
6036803,793703870,46,08/02/2007,341,PETIT LARCENY,MISDEMEANOR,BRONX,40.846398,-73.917196,Morris Heights,16
6036804,235952692,79,08/02/2007,109,GRAND LARCENY,FELONY,BROOKLYN,40.679739,-73.937398,Weeksville,284

In [185]:
crime_weight = {'FELONY': 5, 'MISDEMEANOR': 3, 'VIOLATION': 1 }
df['Year'] = ""
df['Crime_Rate'] = np.nan
for index, row in df.iterrows():
    year = row['RPT_DT'].split('/')[2]
    weight = crime_weight[row['LAW_CAT_CD']]
    df.at[index,'Year'] = year
    df.at[index,'Crime_Rate'] = weight

In [186]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,LAW_CAT_CD,BORO_NM,Latitude,Longitude,Neighborhood,Neighborhood_ID,Year,Crime_Rate
0,731272886,103,08/02/2007,341,PETIT LARCENY,MISDEMEANOR,QUEENS,40.706600,-73.795607,Jamaica Center,163,2007,3.0
1,685977800,120,08/02/2007,341,PETIT LARCENY,MISDEMEANOR,STATEN ISLAND,40.616430,-74.074201,Clifton,256,2007,3.0
2,625034200,43,08/02/2007,233,SEX CRIMES,MISDEMEANOR,BRONX,40.823101,-73.869690,Soundview,27,2007,3.0
3,763554966,40,08/02/2007,361,OFF. AGNST PUB ORD SENSBLTY &,MISDEMEANOR,BRONX,40.822392,-73.919888,Concourse Village,271,2007,3.0
4,312160595,19,08/02/2007,344,ASSAULT 3 & RELATED OFFENSES,MISDEMEANOR,MANHATTAN,40.767869,-73.964077,Lenox Hill,112,2007,3.0

In [187]:
df.tail()

,CMPLNT_NUM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,LAW_CAT_CD,BORO_NM,Latitude,Longitude,Neighborhood,Neighborhood_ID,Year,Crime_Rate
6036800,937371831,70,08/02/2007,235,DANGEROUS DRUGS,MISDEMEANOR,BROOKLYN,40.644377,-73.958868,Ditmas Park,224,2007,3.0
6036801,784786011,77,08/02/2007,340,FRAUDS,MISDEMEANOR,BROOKLYN,40.671782,-73.936407,Crown Heights,56,2007,3.0
6036802,415679784,46,08/02/2007,352,CRIMINAL TRESPASS,MISDEMEANOR,BRONX,40.857082,-73.901353,Fordham,17,2007,3.0
6036803,793703870,46,08/02/2007,341,PETIT LARCENY,MISDEMEANOR,BRONX,40.846398,-73.917196,Morris Heights,16,2007,3.0
6036804,235952692,79,08/02/2007,109,GRAND LARCENY,FELONY,BROOKLYN,40.679739,-73.937398,Weeksville,284,2007,5.0

In [189]:
df.Year.unique()
export_csv = df.to_csv('./export_crime_cleaned.csv', index = None, header=True)

In [190]:
# Drop more columns from cleaned & aggregated data for MapReduce work
to_drop = ['ADDR_PCT_CD','RPT_DT','RPT_DT','KY_CD','OFNS_DESC','LAW_CAT_CD','BORO_NM','Latitude','Longitude']
df.drop(columns=to_drop, inplace=True)

In [193]:
df.tail()

         CMPLNT_NUM    Neighborhood  Neighborhood_ID  Year  Crime_Rate
6036800   937371831     Ditmas Park              224  2007         3.0
6036801   784786011   Crown Heights               56  2007         3.0
6036802   415679784         Fordham               17  2007         3.0
6036803   793703870  Morris Heights               16  2007         3.0
6036804   235952692      Weeksville              284  2007         5.0

In [194]:
df.shape

(6018177, 5)

In [195]:
export_csv = df.to_csv('./export_crime_final.csv', index = None, header=True)